@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply scroll-smooth;
	}

	body,
	#__nuxt {
		@apply min-h-screen;
	}

	* {
		@apply outline-emerald-500 accent-emerald-500 text-gray-700;
	}

	body {
		@apply overflow-x-hidden overflow-y-scroll;
	}

	h1 {
		@apply text-2xl font-bold;
	}

	h2 {
		@apply text-xl font-bold;
	}

	h3 {
		@apply text-lg font-bold;
	}

	input:not(.reset),
	textarea:not(.reset) {
		@apply block px-4 py-2 border rounded-md;
	}

	button:not(.reset) {
		@apply px-4 h-8 flex items-center justify-center rounded-full text-sm;

		&:not([data-type='secondary']) {
			@apply bg-gradient-to-br from-emerald-500 to-emerald-700 shadow-md text-white;
			& * {
				@apply text-white;
			}
		}

		&[data-type='secondary'] {
			@apply bg-white border text-gray-700 shadow-sm;
			& * {
				@apply text-gray-700;
			}
		}
	}

	pre {
		@apply bg-gray-200 p-6 rounded-lg;
		font-size: 10px;
		line-height: 1.33;
	}
}
